{% extends 'base.html' %}

{% block title %}500{% endblock %}

{% block content %}
    <h4><b>&#175;&#92;&#95;&#40;&#12484;&#41;&#95;&#47;&#175;  &nbsp; &nbsp;  Uh Oh..</b></h4>
    <p class="flow-text">

        It looks like we had an error on our end, sorry about that. <br>
        Please report this to the directors of technology with as much information as possible
        <br>(like where you were on the site when this happened)<br>
        Thanks! <br> <br>

        <a href="/">Home</a>
    </p>

    <br><br>
{% endblock %}
